.button {
  line-height: 70px;
  font-size: 32px;
  font-weight: 500;
  padding: 0 40px;
  border-radius: 8px;
  color: var(--color-white);
  background: var(--color-red);
  transition: .2s ease-in-out;
}
